# requirements.txt
#
# Este archivo contiene una lista de paquetes y bibliotecas necesarios para el proyecto.
# Cada línea especifica un paquete que debe instalarse utilizando el gestor de paquetes
# de Python, pip. La instalación de estos paquetes asegura que el entorno de desarrollo
# o producción tenga todas las dependencias necesarias para ejecutar el proyecto correctamente.

requests
PyQt5
youtube-search-python
yt-dlp
wget
m3u8 
validators
python-dateutil